.footer_container {
    margin-top: 50px;
    margin-bottom: 48px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.horizontal_pagination {
    list-style: none;
}

.horizontal_pagination li {
    display: inline;
    margin-right: 10px;
}